body {
    text-align: center;
    margin: 100px;
    background-size: cover;
}
h1 {
    color:black;
    font-size: 40px;
}
label {
    color:black;
    font-size: 20px;
    
}
 
button {
    width: 15%;
    color:darkred;
    background-color:whtie;
    font-size: 20px;
}


